<% include ../common/header %>
<% include ../common/sidebar %>
<div class="padding">
<h1>Авторизация пользователя!</h1>
<form action="/enter/" method="post">
    <p>Логин</p>
    <input type="text" name="login">
    <p>Пароль</p>
    <input type="password" name="pass">
    <input type="submit">
</form>
</div>
<% include ../common/footer %>