<div id="sidebar">
<div class="beauty"><a href="/admin/categories/">Категории</a></div>
<div class="beauty"><a href="/admin/categories/new">Создать новую категорию</a></div>
    <div class="beauty"><a href="/admin/posts/blacklist">Черный список</a></div>
    <div class="beauty"><a href="/admin/posts/whitelist">Одобренный список</a></div>
    <div class="beauty"><a href="/admin/">Непроверенный список</a></div>
</div>
<div id="content">
 <div id="content-box">