<% include ./header %>
<% include ./sidebar %>
<div id="vacancies">
    <p><%if(typeof msg!='undefined'){%> Код ошибки: <%=code%>.<%}%> <%if(typeof msg!='undefined'){%> Сообщение: <%=msg%> <%}%> </p>
</div>
<% include ./footer%>