<form id="search-vacansies" method="get" action="/">
	<input type="text" name="s" value="">
	<input type="submit" id="go-search" value="Найти">
	<p id="key-example">например, <a href="/?s=бухгалтер" class="green">бухгалтер</a></p>
</form>